@media screen and (min-width: 768px) {
  .menu {
    font-size: 20px; }
  h1 {
    font-size: 50px; }
  .grids {
    display: grid;
    grid-template-areas: "tarjeta1 tarjeta2" "tarjeta3 tarjeta4" "tarjeta5 tarjeta6" "tarjeta7 tarjeta8" "tarjeta9 ." "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
  #tarjeta1 {
    grid-area: tarjeta1; }
  #tarjeta2 {
    grid-area: tarjeta2; }
  #tarjeta3 {
    grid-area: tarjeta3; }
  #tarjeta4 {
    grid-area: tarjeta4; }
  #tarjeta5 {
    grid-area: tarjeta5; }
  #tarjeta6 {
    grid-area: tarjeta6; }
  #tarjeta7 {
    grid-area: tarjeta7; }
  #tarjeta8 {
    grid-area: tarjeta8; }
  #tarjeta9 {
    grid-area: tarjeta9; }
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    justify-content: center;
    gap: 25px;
    column-gap: 25px; } }

@media screen and (min-width: 1024px) {
  .menu {
    font-size: 40px; }
  h1 {
    font-size: 100px; }
  .Tarjeta_Item {
    background-color: #425470; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-image: url(../assets/Fondo.jpg); }
  header div nav {
    padding-top: 10px; }
    header div nav .menu {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      justify-content: space-around;
      list-style: none; }
    header div nav .LinksMenus {
      text-decoration: none;
      color: aliceblue; }

h1 {
  color: aliceblue;
  margin: 0; }

.Main_Imagen {
  background-image: url("../assets/Inicio/winterguy.png");
  width: 100%;
  background-size: cover; }
  .Main_Imagen .Snowflake {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    backdrop-filter: blur(10px); }
    .Main_Imagen .Snowflake .Snowflake h2 {
      background-color: aliceblue; }
    .Main_Imagen .Snowflake .Snowflake p {
      background-color: aliceblue;
      font-size: 25px; }
    .Main_Imagen .Snowflake .Snowflake a input {
      border-radius: 28px;
      background-color: aliceblue; }

footer {
  background-color: #14171C;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-around; }
  footer ul {
    margin-top: 15px;
    list-style: none; }
  footer .mail {
    margin-top: 5px; }

.Registro {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #6c80a1 15%, #2e3440 50%, #14171c 100%); }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #6c80a1 15%, #2e3440 50%, #14171c 100%); }

.Tarjeta_Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #696f78;
  margin: 2%;
  color: aliceblue; }
  .Tarjeta_Item .ulcard {
    list-style: none; }

/*Sobre nosotros */
.mainSN {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center; }
  .mainSN .sectioon {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .mainSN .sectioon .imgsn {
      display: flex;
      width: 200px;
      height: 200px;
      margin: 2%; }
    .mainSN .sectioon .text {
      background-color: wheat;
      display: flex;
      width: 60%;
      height: 32%;
      box-sizing: border-box;
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 25px;
      border-style: double dashed; }
