@media screen and (min-width: 768px) {
  .menu {
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
  }
  .grids {
    display: grid;
    justify-items: center;
    grid-template-areas: "tarjeta1 tarjeta2" "tarjeta3 tarjeta4" "tarjeta5 tarjeta6" "tarjeta7 tarjeta8" "tarjeta9 ." "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #tarjeta1 {
    grid-area: tarjeta1;
  }
  #tarjeta2 {
    grid-area: tarjeta2;
  }
  #tarjeta3 {
    grid-area: tarjeta3;
  }
  #tarjeta4 {
    grid-area: tarjeta4;
  }
  #tarjeta5 {
    grid-area: tarjeta5;
  }
  #tarjeta6 {
    grid-area: tarjeta6;
  }
  #tarjeta7 {
    grid-area: tarjeta7;
  }
  #tarjeta8 {
    grid-area: tarjeta8;
  }
  #tarjeta9 {
    grid-area: tarjeta9;
  }
  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 5px;
    justify-content: center;
    gap: 25px;
    column-gap: 25px;
  }
  .Main_Imagen {
    background-color: url("/assets/Inicio/winterguy.png");
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    font-size: 40px;
  }
  h1 {
    font-size: 100px;
  }
  .Tarjeta_Item {
    background-color: #425470;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url(../assets/Fondo.jpg);
}
header div nav {
  padding-top: 10px;
}
header div nav .menu {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-around;
  list-style: none;
}
header div nav .LinksMenus {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  color: aliceblue;
  margin: 0;
}

li:hover {
  transform: scale(2, 2);
}

.Main_Imagen {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Inicio/winterguy.png");
  background-size: cover;
  justify-content: flex-start;
}
.Main_Imagen .Snowflake {
  width: 50vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 10%;
}
.Main_Imagen .Snowflake h2 {
  background-color: aliceblue;
}
.Main_Imagen .Snowflake p {
  background-color: aliceblue;
  font-size: 25px;
}
.Main_Imagen .Snowflake input {
  border-radius: 28px;
  height: 50px;
  width: 100px;
  font-size: 15px;
}
.Main_Imagen .Snowflake .Snowflake a input {
  border-radius: 28px;
  background-color: aliceblue;
}

input:hover {
  transform: scale(2, 2);
}

footer {
  background-color: #14171C;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-around;
}
footer ul {
  margin-top: 15px;
  list-style: none;
}
footer .mail {
  margin-top: 5px;
}

.sign {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.sign .Registro {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../assets/Fondo.jpg");
  background-size: cover;
}
.sign .Registro h2 {
  font-size: 40px;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 5px;
}
.sign .Registro label {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sign .Registro .button {
  margin: 20px;
  height: 5vh;
  width: 20vh;
  border-radius: 28px;
  box-shadow: 1px 6px 20px 0px #a4a1a1;
}
.sign .Registro .placeh {
  height: 5vh;
  margin-bottom: 10px;
  margin-top: 5px;
}

.containerlogin {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.containerlogin .login {
  display: flex;
  width: 50vh;
  height: 50vh;
  flex-direction: column;
  background-image: url("../assets/Fondo.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 5px grey;
}
.containerlogin .login h2 {
  color: aliceblue;
  font-size: 40px;
  margin-bottom: 15px;
}
.containerlogin .login .spanlg {
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 10px;
}
.containerlogin .login .buttonlg {
  margin: 20px;
  height: 5vh;
  width: 20vh;
  border-radius: 28px;
  box-shadow: 1px 6px 20px 0px #a4a1a1;
}

.Tarjeta_Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #696f78;
  margin: 2%;
  color: aliceblue;
  width: 50%;
  box-shadow: 10px 5px 5px grey;
}
.Tarjeta_Item h3 {
  font-size: 25px;
  margin-bottom: 5px;
}
.Tarjeta_Item li {
  padding-bottom: 5px;
}
.Tarjeta_Item input {
  margin: 5px;
  border-radius: 28px;
  height: 30px;
  width: 100%;
  box-shadow: 10px 5px 5px grey;
  border-style: none;
}
.Tarjeta_Item .ulcard {
  list-style: none;
}

input:hover {
  transform: scale(1.5, 1.5);
}

/*Sobre nosotros */
.mainSN {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.mainSN .sectioon {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px grey; /*fue un error pero me gusto como quedo xD*/
}
.mainSN .sectioon .collage {
  display: flex;
  width: 100%;
  align-items: center;
}
.mainSN .sectioon .imgsn {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 2%;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
.mainSN .sectioon .text {
  background-color: rgba(72, 68, 62, 0.2784313725);
  display: flex;
  width: 60%;
  height: 32%;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 25px;
  border-style: groove;
}

/*# sourceMappingURL=style.css.map */
