footer{background-color: #14171C;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
    ul{margin-top: 15px;
       list-style: none;}
  .mail{margin-top: 5px;}}
    