/*Sobre nosotros */

.mainSN{display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    .sectioon{width: 50%;
        display: flex;
        flex-direction: column;
        
        .imgsn{display: flex;
        width:200px;
        height: 200px;
        margin: 2%;}
        .text{background-color: wheat;
            display: flex;
            width: 60%;
            height: 32%;
            box-sizing: border-box;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 25px;
            border-style: double dashed;}
        }
    }




